body{
    background-image: linear-gradient(rgb(255, 115, 208), rgb(255, 255, 155));
    height: 102vh;
    background-repeat: no-repeat;
}
img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.active{
    display: block;
}
.active-thumb{
    border: 2px solid black;
    border-radius: 10px;
}
.border-radius{
    border-radius: 10px;
}
.to-select{
    opacity: 0.5;
}
.mc-z-index{
    z-index: 3;
}
h2{
    text-shadow: 2px 2px black;
    color: white;
}
.mc-text{
    top: 50px;
    width: 400px;
    font-size: 1.2rem;
    color: rgb(206, 203, 203);
    text-shadow: 2px 2px black;
}
.mc_btn{
    width: 25px;
    height: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.positin-arrow-right{
    right: 0;
}

.thumb-height{
    height: 150px;
    object-fit: cover;
}
.top-arrow{
    top:40%;
}
.left-arrow{
    left:0;
}
footer{
    width: 100%;
    height: 5rem;
}
#stopBtn, #startBtn, #reverseBtn{
    margin: 10px auto;
    width: 75px;
    border-radius: 5px;
    cursor: pointer;
    background-color: tomato;
}